body {
    margin: 0;
}

.game {
    position: relative;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("https://i.postimg.cc/nr9Hgpdm/papier-kamien-nozyce.jpg");
    background-color: rgba(0, 0, 0);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.buttons-section {
    text-align: center;
    padding: 75px 0;
}

.button {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: solid 2px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
}

.messages-section {
    font-size: 40px;
    text-align: center;
    color: white;
}